@charset "UTF-8";


@media screen and (max-width: 480px) {

    body {
        height: 100vh;
        padding: 0px 20px;
        background-image: linear-gradient(45deg, black, blue, black);      
    }

    .container {
        box-shadow: none;
        height: 600px;
    }
}